name: CI

on: [push]

jobs:
  format-code:
    runs-on: ubuntu-latest
    steps:
    - name: format Kotlin
      run: |
        cd duckladydinh/kotlinml 
        ./ktlint -F src/**/*.kt
  navigate:
    runs-on: ubuntu-latest
    steps:
    - name: list all files
      run: ls -l cd duckladydinh/kotlinml 
  build-fast:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: clean build -x test
